
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body, html {
  font-family: "MyPixelFont", sans-serif;
  background-color: transparent;
  padding: 10px;
  overflow: hidden;
  cursor: none;
  z-index: -1;
  user-select: none;

}

body{
  background-color: black;
}

@font-face {
  font-family: 'MyPixelFont';
  src: url("Fonts/BACKTO1982.TTF");
}


/* Walle Image */
#homeWalle {
  position: absolute;
  width: 100%; /* Fill the container */
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.3s;
}

#homeWalle:hover {
  opacity: 0.6;
}

/* Eye Container */
.eye-container {
  position: absolute;
  top: 1%; /* Adjust to position container on the page */
  left: 50%; /* Adjust as needed */
  width: 135vh; /* Matches the width of .eyes and #homeWalle */
  height: 135vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Prevent interaction if needed */
}

/* Eyes */
.eyes {
  top: 13%;
  left: 34%;
  position: absolute;
  width: 25%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.eyes div {
  position: relative;
  aspect-ratio: 1;
  width: 100%; /* Fills container width */
  height: 45%;
  /* background-image: url("/ToBeDetermined-main/sources/WalleLightEyeBallGood.png"); */
  background-size: cover;
  background-position: center;
  /* border-radius: 50%; */
  overflow: show;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

/* Pupil */
.eyes div i {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/ToBeDetermined-main/sources/WalleSingleBallGood.png");
  background-size: cover;
  background-position: center;
  /* border-radius: 50%; */
  transition: transform 0.1s;
}

#light {
  position: fixed;
  width: 12vw;
  height: 12vw;
  background: radial-gradient(circle, rgb(255,215,0) 0%, black 70%);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}


.title {
  position: relative; 
  transition: all 0.3s;
  color: white;
  /* font-size: 50px; */
  font-size: 3.5vw;
  opacity: 0.5; 
  font-family: "MyPixelFont";
  text-align: center; 
  /* z-index: -1; */

}
.title:hover{
  opacity: 1;
}


.aboutUsContainer {
  padding-top: 6vw;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
}

.person-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1vw;
  flex: 1;
  color: white;
  opacity: 0.5; 
  transition: all 0.5s;
}

.person-card:hover{
  opacity: 1;
}

.person-card img {
  width: 40%;
  height: 40%;
  border-radius: 30%;
  object-fit: cover;
}
.person-card h2 {
  margin-bottom: 10px;
  font-size: 1vw;
}
.person-card p {
  margin-bottom: 10px;
  font-size: 1.5vh;
}
footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9em;
  color: #888;
}


.navBar a {
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  padding: 10px;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.5vh;
  transition: all 0.3s ease;
}
.navBar a:active{
  transform: scale(1.1);
}

/* Hide the text initially (not the image) */
.navBar a span {
  cursor: none;
  opacity: 0; /* Initially hide text */
  /* visibility: hidden;  */
  margin-left: 10px; /* Space between image and text */
  white-space: nowrap; /* Prevent text wrapping */
  transition: all 0.3s;
  font-family: "MyPixelFont";
  font-size: larger;
}

/* NavBar icon image styling */
.navBar a img {
  cursor: none;
  height: 4.5vw;
  transition: all 0.3s ease;
  border-radius: 50%;
  filter: brightness(0.25); /* Dim icons initially */
}

/* Expand NavBar on hover */
.navBar {
  cursor: none;
  z-index: 9999;
  position: fixed;
  left: 1%;
  top: 14%;
  bottom: 15%;
  display: grid;
  height: 75vh;
  width: 7vw; /* Initial narrow width */
  transition: all 0.5s ease;
  overflow: hidden;
}

.navBar:hover {
  width: 18vw; /* Expand width when hovered */
  left: 2%;
}
/* Show the text only when the NavBar is fully expanded */

.navBar:hover a span {
  opacity: 0.5; /* Show text */
  /* visibility: visible;  */
}
.navBar a:hover span {
  opacity: 1; /* Show text */
  /* visibility: visible;  */
}
/* Hover effect for images */
.navBar a img:hover {
  transform: scale(1.1); /* Enlarge icons slightly */
  filter: brightness(1); /* Brighten icons */
}


.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
  transition: all 0.3s;
}

/* Modal content (the image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  transition: all 0.3s;
}

/* Close button (X) */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 1.5vh;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.galleryHome{
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.galleryHome::-webkit-scrollbar {
  display: none;
}

.container-gallery {
  padding-top: 2vw;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.gallery-card {
  color: white;
  margin-top: 20px;
  height: 85%;
  width: 100%;
  border-radius: 20%;
  transition: all 0.5s;
  text-align: center;
  align-self: auto;
  opacity: 0.5;
  font-size: 1vw;
}
.gallery-card img {
  width: 90%;
  height: 100%;
  border-radius: 15%;
  object-fit: cover;
  margin-bottom: 15px;
  transition: all 0.5s;
  opacity: 1;
}

.gallery-card:hover{
  opacity: 1;  
}

.gallery-card img:hover{
  box-shadow: 10px 10px 10px rgba(201, 201, 201, 0.5);
}

.back-arrow {
  position: fixed;
  left: 10%;
  top: 45%;
}
.forward-arrow {
  position: fixed;
  right: 10%;
  top: 45%;
}
.gallery-card h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}
.gallery-card p {
  margin-bottom: 10px;
  font-size: 1em;
}

section {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-bottom: 10px;
  color: #1C6E8C;
}

section p, ul {
  margin-bottom: 10px;
}

.container-download {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.download-card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  vertical-align: middle;
}
.download-card img {
  width: 700px;
  height: 450px;
  border-radius: 15%;
  object-fit: cover;
  margin-bottom: 15px;
  text-align: left;
}

.download-card button {
  width: 100px;
  height: 200px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 15%;
  object-fit: cover;
  margin-bottom: 15px;
  background-color: green;
}




.PhotoContainer{
  position: absolute;
  background-color: white;
  height: 20vw;
  width: 40vw;
  right: 30%;
  top: 20%;
  border-radius: 2vh;
  opacity: 0.8;
  transition: all 0.3s;
}

.PhotoContainer:hover{
  opacity: 1;
}

.photoPicker{
  position: absolute;
  height: 6vw;
  width: 40vw;
  right: 30%;
  top: 65%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: inline-block;
  white-space: nowrap;
  border-radius: 2vh;
  scroll-behavior: smooth;
  z-index: 1;
}
.photoPicker::-webkit-scrollbar {
  display: none;
}

.photoPickerImg{
  background-color: white;
  height: 100%;
  width: 25%;
  display: inline-block;
  border-radius: 2vh;
  transition: all 0.3s;
  opacity: 0.7;
}

.PhotoContainerImg{
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transition: all 0.3s;
  position: relative;
  border-radius: 2vh;
}
.photoPickerImg:hover {
  transform: scale(1.05);
}
.photoPickerImg:hover {
  opacity: 1;
}

.scrollButtons{
  position: absolute;
  height: 6vw;
  width: 41vw;
  right: 31%;
  top: 65%;
  border-radius: 2vh;
  display: flex;
}
.scrollButtons a{
  position: relative;
  height: 6vw;
  width: 1.5vw;
  background-color: white;
  border-radius: 1vh;
  line-height: 6vw;
  text-align: center;
  opacity: 0.6;
  transition: all 0.3s;
  font-size: 1.3vw;
  user-select: none;
}
#leftButton{
  left: 0%;
}
#leftButton:hover{
  opacity: 0.9;
}
#leftButton:active{
  transform: scale(1.1);
}
#rightButton{
  left: 100%;
}
#rightButton:hover{
  opacity: 0.9;
}
#rightButton:active{
  transform: scale(1.1);
}

.background{
  width: 100%;
  height: 100%;
}

.background img{
  z-index: -10;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#billboard{
  position: absolute;
  width: 50%;
  height: 125%;
  z-index: 1;
  right: 25%;
  top: -5%;
  opacity: 0.9;
}



.galleryBackground{
  background-image: url("sources/coolBackground.png");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
