
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: black;
  padding: 10px;
}

#title {
  margin: 20px;
  text-align: center;
  color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.person-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1;
}
.person-card img {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    object-fit: cover;
    margin-bottom: 15px;
}
.person-card h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
}
.person-card p {
    margin-bottom: 10px;
    font-size: 1em;
}
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
    color: #888;
}

.navBar {
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  /* background-color: #274156; */
  border-radius: 10%;
  height: 50vh;
  width: 7vw;
}
  
/* Style the links inside the navigation bar */
.navBar a {
  margin-top: 10px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

.navBar a img {
  width: 200px;
  height: 100px;
  transition: transform 0.3s ease;
}

.navBar a img:hover {
  transform: scale(1.1);
}
/* Change the color of links on hover */

.navBar a:hover {
  background-color: black;
  color: white;
}

/* Add a color to the active/current link */
.navBar a.active {
  background-color: black;
  color: white;
}




/* Modal container (hidden by default) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
}

/* Modal content (the image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

/* Close button (X) */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.container-gallery {
  padding-top: 20px;
  /* display: float; */
  /* justify-content: space-between; */
  row-gap: 20px;
  /* overflow-x: auto; */
  /* flex-wrap: nowrap; */
  /* grid-auto-rows: minmax(100px, auto); */
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.gallery-card {
  /* position: relative; */
  margin-top: 20px;
  background-color: white;
  height: 95%;
  width: 95%;
  border-radius: 10px;
  transition: box-shadow 0.5s;
  text-align: center;
  padding: 20px;
  /* flex: 1; */
  align-self: auto;
}
.gallery-card img {
  width: 90%;
  height: 70%;
  border-radius: 15%;
  object-fit: cover;
  margin-bottom: 15px;
  transition: all 0.5s;
  cursor: pointer;
}

.gallery-card:hover{
  /* animation: shadowEffect 2s; */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}


/* 
.gallery-card:not(:hover){
  animation: shadowEffectOff 2s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
@keyframes shadowEffect {
  50% {box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);}
}
@keyframes shadowEffectOff {
  50% {box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);}
} */

.back-arrow {
  position: fixed;
  left: 10%;
  top: 45%;
}
.forward-arrow {
  position: fixed;
  right: 10%;
  top: 45%;
}
.gallery-card h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}
.gallery-card p {
  margin-bottom: 10px;
  font-size: 1em;
}

section {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-bottom: 10px;
  color: #1C6E8C;
}

section p, ul {
  margin-bottom: 10px;
}

.container-download {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.download-card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  vertical-align: middle;
}
.download-card img {
  width: 700px;
  height: 450px;
  border-radius: 15%;
  object-fit: cover;
  margin-bottom: 15px;
  text-align: left;
}

.download-card button {
  width: 100px;
  height: 200px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 15%;
  object-fit: cover;
  margin-bottom: 15px;
  background-color: green;
}
